<!DOCTYPE html>
{% load staticfiles %}
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Site</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jqueryFile.js' %}"></script>
    {% block mystyle %}
    {%endblock %}
    <style>
    .bg{
        background:url('{% static "images/img2.png"%}');
    }
    </style>
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12 px-0'>
                <nav class='navbar bg-primary navbar-expand-sm navbar-dark'>
                    <a href="{% url 'home' %}" class='navbar-brand'>MySiTe</a>
                    <ul class='navbar-nav mx-auto'>
                        <li class='nav-item'>
                            <a href="{% url 'home' %}" class='nav-link'>Home</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'mysite:ab' %}" class='nav-link'>About</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'mysite:con'%}" class='nav-link'>Contact</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'mysite:studentForm'%}" class='nav-link'>Django Form</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'admin:index' %}" class='nav-link'>Admin</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'mysite:employeeForm' %}" class='nav-link'>Model Form</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3 bg-dark text-center py-5 text-light sticky-top'>
                <img src="{%static 'images/img4.jpg'%}" height='150' width='150' class='rounded-circle' alt="">
                <h2>Hii {{user.first_name}}</h2>
                <p>{{user.email}}</p>
                <div class='py-5'>
                    <p>View Profile</p>

                    <p><a href="{% url 'mysite:profile' %}">User profile</a></p>
                    <p><a href="{% url 'mysite:change_profile' %}">Change profile</a></p>
                    <p><a href="{% url 'mysite:change_password' %}">Change Password</a></p>
                    <p>Notifications</p>
                    <p>
                        <a href="{% url 'mysite:logout'%}">Logout</a>
                    </p>
                </div>
            </div>
            <div class='col-md-9 bg'>
                {% block mycode %}
    
                {% endblock %}
            </div>
        </div>
        <div class='row'>
        <!-- FOOTER -->
        <div class='col-md-12 bg-primary text-light py-3 text-center'>
                <h4>MySite</h4>
                <p>&copy; All rights reserved.| Designed By: Your Name</p>
            </div>
        </div>
        
    </div>
</body>
</html>