{% extends "base.html" %}
{% load staticfiles %}
{% block mycode %}
<div class="row">
    <div class="col-md-12" style="background:url('{% static 'images/3.jpg'%}')">
        <h1 class="my-3 text-center text-light">User Profile</h1>
    </div>
    <div class="col-md-6 mx-auto" style="background:rgba(0,0,0,0.5)">
        {% if status %}
            <p class="alert alert-{{c}}">{{status}}</p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="first" value="{{user.first_name}}">
                    </div>
                    <div class="col-md-6">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="last" placeholder="{{user.last_name}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control" name="username" disabled value="{{user.username}}">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" value="{{user.email}}">
            </div>
            <div class="form-group">
                
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>
    </div>
</div>
{% endblock %}