{% extends 'base.html'%}
{% block mystyle %}
<style>
h2{font-family: 'Courier New';}
</style>
{% endblock %}
{% block mycode %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.056119523628!2d76.69247711461036!3d30.71682269345137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee5a42944be3%3A0xb713d3a3e26a89c1!2sSachTech+Solution+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1555050384885!5m2!1sen!2sin" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
<div class='row'>
    <div class='col-md-6 mx-auto'>
        <h2 class='text-center text-light text-uppercase'>Give Your Feedback</h2>
        <form action="" method='post'>
            {% csrf_token %}
            {% if result %}
            <div class='form-group'>
                <span class='alert alert-info'>{{result}}
                    <a href="{% url 'home'%}">Back To Homepage</a>
                </span>
            </div>
            {% else %}
            <div class='form-group'>
                <input type="text" name='uname' placeholder='Enter Name' class='form-control'>
            </div>
            <div class='form-group'>
                <input type="email" name='email' placeholder='Enter Email ID' class='form-control'>
            </div>
            <div class='form-group'>
                <textarea name="msz" id="" class='form-control' rows="10" placeholder='Message Here'></textarea>
            </div>
            <div class='form-group'>
                <input type="submit" class='btn btn-primary btn-sm' value='Send Feedback'>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}