{% extends "base.html" %}
{% block mystyle %}
<style>
    h1{
        color:red;
        font-family: cursive;
    }
</style>
{%endblock %}
{% block mycode %}

<div class='container'>
    <div class='row'>
        <div class='col-md-12 bg-light p-2'>
            <div class='card-columns'>
                {% for i in data %}
                    <div class='card'>
                        <div class='card-header'>
                            <h4>{{i.name}}</h4>
                            <span class='float-right'>- {{i.email}}</span>
                        </div>
                        <div class='card-body'>
                            <p>{{i.message}}</p>
                            <span class='text-danger'>On| {{i.feedback_date}}</span>
                        </div>
                        
                    </div>
                {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}