<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
</head>
<body class="bg-light">
        <div class="container">
            <div class="row shadow-lg mt-5">
                <div class="col-md-6 p-5" style="background:#fff;">
                    <h1 class="mb-4 display-4">Login</h1>
                    <p>Don't have account <a href="">Create one </a> It's free and take only a minute. </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="username" class='logininput mt-3' placeholder="Username" />
                        <input type="password" name="password" class='logininput mt-3' placeholder="Password" />
                        <br/>
                        <input type="checkbox" name='remember'> <label for="">Remember Me</label>
                        <input type="submit" value='Login' class="btn btn-success mt-5"/>
                    </form>
                    {% if status %}
                        <script>
                        alert('{{status}}');
                        </script>
                    {% endif %}
                </div>
                <div class="col-md-6" style='background:url("{% static 'images/loginimg.jpg' %}")'></div>
            </div>
        </div>
    </body>
</html>
