{% extends "base.html" %}
{% load staticfiles %}
{% block mycode %}

<div class="row">
    <div class="col-md-12"style="background:url('{% static 'image/3.jpg'}')">
        <h1>User profile</h1>
        <table class="table">
            <tr>
                <th>username</th>
                <th>{{data.username}}</th>
            </tr>
            <tr>
                <th>First name</th>
                <th>{{data.first_name}}</th>
            </tr>
            <tr>
                <th>Last name</th>
                <th>{{data.last_name}}</th>
            </tr>
            <tr>
                <th>Email</th>
                <th>{{data.email}}</th>
            </tr>
            <tr>
                <th>Since username</th>
                <th>{{data.date_joined}}</th>
            </tr>
            <tr>
                <th>Last Login</th>
                <th>{{data.last_login}}</th>
            </tr>

        </table>
    </div>
    </div>
{% endblock %}