{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <script src="{% static 'js/jquery.js' %}"></script>
    <style>
        .logininput{
            width:100%;
            height:40px;
            border:0px;
            border-bottom:2px solid #ccc;
        }
        .logininput:focus{
            box-shadow:none;
            outline: 0px;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container">
        <div class="row shadow-lg my-5">
            <div class="col-md-6 p-5" style="background:#fff;">
                <h1 class="mb-5">Register</h1>
                <form method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="first_name" />
                    </div>
                    <div class="col-md-6">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="last_name" />
                    </div>
                </div>
                <label>Username</label>
                <small class='text-danger' id='msz'></small>
                <input type="text" class="form-control" name="username" id='user'/>
                <label>Password</label>
                <input type="Password" class="form-control" name="password" />
                <label>Email</label>
                <input type="email" class="form-control" name="email" />
                <label for="">Address</label>
                <textarea class="form-control" name="address"></textarea>
                <label for="">Contact Number</label>
                <input type="number" class="form-control" name="contact" />
                <input type="submit" class="btn btn-success mt-3" />
                </form>
            </div>
            <div class="col-md-6" style='background:url("{% static 'images/loginimg.jpg' %}")'></div>
        </div>
    </div>
</body>
</html>