<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Using Django User Model Form</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <style>
    .bg{
        background: url('{% static "images/loginimg.jpg"%}');
    }
    </style>
</head> 
<body class='bg-light py-5'>
    <div class='container p-5 shadow-lg'>
        <div class='row'>
            <div class='col-md-6'>
                <form action="" method='post'>
                    {% csrf_token %}
                    {% bootstrap_form frm %}
                    <input type="submit" value='register' class='btn btn-success'>
                </form>
            </div>
            <div class='col-md-6 bg text-light text-center py-5'>
                <h2 class='my-5'>Fill Your Details</h2>
            </div>
        </div>
    </div>
    {% if status %}
    <script>
        alert('{{status}}');
    </script>
    {% endif %}
</body>
</html>