{% extends 'base.html'%}
{% load bootstrap4 %}
{% block mystyle %}
    <style>
    label{
        color:blue;
    }
    /* #id_name{
        width:50%;
    } */
    </style>
{% endblock %}
{% block mycode %}
    <h1>Django Form</h1> 
    <!-- <table>
        {{form.as_table}}  
    </table>  -->
    <!-- {{form.as_p}} -->
    <div class='row'>
        <div class='col-md-8 mx-auto p-2 bg-light'>
            <form action="">
                {% bootstrap_form form %}
                <input type="submit" class='btn btn-primary'>
            </form>
        </div>
    </div>
{% endblock %}